body{
  background-color: rgb(210, 210, 166);

}
img{
  height: 60px;
  width: 60px;
}
#logo{
  width: 200px;
  height: 200px;
}
button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  font-style: inherit;
  font-weight: 150;
  background-color: beige;
  margin-left: 1rem;

}
#saludo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(1, 64, 64);
}

.Button{
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  height: 3rem;
  width: 3rem;

}
.Button1{
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;

}
.ListGroup{
  display: flex;
  justify-content: center;
  align-items: center;
 padding-bottom: 10rem;
}
.CardItem{
  margin-left: 2rem;
 background-color: white;
 height: 300px;
 width: 300px;
 padding-bottom: 3rem;
}
.ItemImg{
  height: 300px;
  width: 300px;
}